html,
body,
#page-container,
.layout {
    height: 100%;
}

.page-content {
    padding-top: 60px;
    background-color: #eee;
}

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-flow: nowrap;
    height: 60px;
    align-items: center;
    background-color: rgb(63,81,181);
    z-index: 1000;
} 

.logo {
    margin-left: 20px;
    height: calc(100% - 20px);
    width: auto;
}

.vertical-divider {
    background-color: rgba(255,255,255,0.2);
    width: 1px;
    height: 30px;
    margin: 0px 25px;
}

.title {
    color: white;
    font-size: 20px;
}

.search-bar {
    position: absolute;
    left: 280px;
    width: calc(100% - 500px);
}

.search-icon {
    position: absolute;
    top: 10px;
    left: 35px;
    color: #eee;
}

.search-input {
    width: 100%;
    padding: 13px 13px 13px 42px;
    background-color: rgb(96, 112, 199);
    color: #eee;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    margin: 0px 25px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 15px;
}
.search-input:focus {
    outline-width: 0;
}
.search-input::-webkit-search-cancel-button {
    background: red !important;
}
.search-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #eee;
}
.search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #eee;
    opacity: 1;
}
.search-input::-ms-input-placeholder { /* Microsoft Edge */
    color: #eee;
}

.auth-status {
    position: absolute;
    right: 25px;
    width: 250px;
    text-align: right;
    color: white;
    font-size: 20px;
}

.page-content {
    display: flex;
    flex-direction: row;
}

.profile-avatar {
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background-color: orangered;
    color: white;
    text-transform: uppercase;
    float: right;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.navbar .mdl-menu, .navbar .mdl-menu__outline {
    margin-top: -30px;
}
.navbar .mdl-menu__item {
    height: 32px !important;
    line-height: 32px !important;
    display: flex;
    align-items: center;
}
.navbar .mdl-menu__item i {
    margin-right: 5px;
}

.sign-in-button {
    color: white !important;
    background-color: #4285f4 !important;
    width: 85px !important;
    border-radius: 3px !important;
}